@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    cursor: url("/cursor.cur"), pointer;
    text-shadow: 0 0 16px #fff;
}

.overlay-parent {
    display: grid;
    grid-template-areas: "overlay";
}

.overlay-child {
    grid-area: overlay;
}

.img-ds{
    filter: drop-shadow(0px 0px 16px #fff)
}