@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    text-shadow: 0 0 16px #fff;
}

p {
    padding-bottom: 16px;
}

.overlay-parent {
    display: grid;
    grid-template-areas: "overlay";
}

.overlay-child {
    grid-area: overlay;
}

h2 {
    font-size: 2rem;
    padding-bottom: 1rem;
    padding-top: 0.5rem;
}

h3 {
    font-size: 1.5rem;
    padding-bottom: 0.75rem;
    padding-top: 0.25rem;
}

h4 {
    font-size: 1.3rem;
    padding-bottom: 0.5rem;
}