@tailwind base;
@tailwind components;
@tailwind utilities;

/* .text-outline{
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
} */

@font-face{
    font-family: ReplacesAtSymbol;
    src: url(../fonts/WonderType-Regular.otf);
    unicode-range: U+40;
}

@font-face{
    font-family: ReplacesAtSymbol;
    src: url(../fonts/tele-40-STAR.woff2);
    unicode-range: U+00-39,U+41-10FFFF;
}

body{
    font-family: ReplacesAtSymbol;
}

p{
    font-size: clamp(16px, 3vw, 24px);
    line-height: 110%;
    @apply text-olive pb-4
}

li{
    list-style: circle;
    list-style-type: circle;
    font-size: clamp(16px, 3vw, 24px);
    line-height: 110%;
    @apply text-olive ml-4 sm:ml-6 md:ml-8
}
